.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display:flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo{
  width: 183px;
  z-index: 2;
}

.logo_place_header{
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
  /*background-repeat: no-repeat;*/
  background-size: 100%;
  height: 35px;
}

.header__title{
  width: 730px;
  margin: 0;
  margin-left: 64px;
  padding: 0;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle{
  margin: 0;
  padding: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

}

.header__square-pic{
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
}

.description{
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief{
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraf{
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
  font-weight: normal;
}

.two-columns__paragraf:last-of-type{
  margin-bottom: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title{
  width: 60%;
  margin: auto;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-title_theme_dark{
  color: white;
  position: relative;
  z-index: 1;
}

.section-subtitle{
  margin: auto;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark{
  color: white;
  position: relative;
  z-index: 1;
}

.table{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin: auto;
  padding: 0;
}

.table_theme_dark{
  color: white;
  z-index: 1;
  position: relative;
}

.table__cell{
  list-style-type: none;
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1;
}

.table__heading{
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__heading_theme_dark{
  color: white;
}

.table__text{
  margin: 0;
  margin-top: 20px;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark{
  color: white;
}

.feynman{
  min-height: 790px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  padding-top: 100px;
  position: relative;
  text-align: center;
}

.feynman__title{
  width: 648px;
  margin: auto;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle{
  margin: 0;
  margin-top:70px;
  padding: 0;
  display: inline-block;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman{
  background-color: #1f1f1f;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.kaufman__triangle{
  padding: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

.footer{
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  min-height: 250px;
}

.footer__column{
  color: white;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__column_content_social{
}

.footer__column_content_info{
}

.footer__author{
  margin: 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links{
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__socail-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link{
  text-decoration: none;
  color: white;
}
